# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
instance/
.env
.venv/
venv/
env/

# Flask/Build
*.log
dist/
build/

# VSCode / OS
.vscode/
.DS_Store
Thumbs.db

# PyInstaller / Wheels
*.spec

# Coverage / testing
.coverage
htmlcov/
.tox/

# Render/Heroku artifacts
*.egg-info/
